.one{
    width: 100%;
    height: 400px;
    background-color: rgb(212, 228, 222);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.one .bir{
    width: 300px;
    height: 350px;
}
.bir h1{
    color: rgb(72, 201, 201);
    width: 250px;
}
.bir p{
    color: rgb(27, 27, 27);
    width: 300px;
}
.buttons button{
    width: 150px;
    height: 50px;
    color: aliceblue;
    background-color:rgb(72, 201, 201);
    border-radius: 15px;
    cursor: pointer;
}
.container{
    border: 2px solid blue;
    width: 200px;
    height: 300px;
    position: relative;
}
img{
    width: 200px;
    height: 300px;
}
.box1{
    background-color: aqua;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 10px;
    top: 40px;
    right: 170px;
}
.box1 img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.box2{
    background-color: aliceblue;
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    top: 150px;
    left: 160px;
}
.box2 img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}